<% if section.displays.any? %>
  <details open>
    <summary><%= section.title.titleize %></summary>

    <ul>
      <% section.displays.each do |display| %>
        <li><%= link_to display.title.titleize, display_path([ section.title, display.title ].join("/")) %></li>
      <% end %>
    </ul>
  </details>
<% else %>
  <div>
    <%= link_to section.title, display_path(section.title) %>
  </div>
<% end %>
