<details open>
  <summary><%= section.title.titleize %></summary>

  <ul>
    <% section.displays.each do |display| %>
      <li><%= link_to display.title.titleize, display_path([ section.title, display.title ].join("/")) %></li>
    <% end %>
  </ul>
</details>
