<details open>
  <summary><%= section.title.titleize %></summary>

  <ul>
    <% section.displays.each do |display| %>
      <li><%= link_to display.title.titleize, showcase_display_path(section.title, display.title) %></li>
    <% end %>
  </ul>
</details>
