<%= render template: showcase.template_path, locals: { showcase: showcase } %>

<section class="sc-header">
  <%= showcase.description %>
</section>

<section class="sc-samples">
  <h2>Samples</h2>
  <%= render partial: "showcase/display/sample", collection: showcase.samples %>
</section>

<% if options = showcase.options.presence %>
  <%= render "showcase/displays/options", options: options %>
<% end %>
