<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "application" %>
    <%#= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render "showcase/root" %>
  </body>
</html>
