<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "application" %>
    <%= render "showcase/javascript" %>

    <script type="module">
      import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
      window.Stimulus = Application.start()

      Stimulus.register("welcome", class extends Controller {
        static targets = [ "greeter" ]
        static values = { yell: Boolean }

        connect() {
          let greeting = this.hasGreeterTarget ? `Welcome, ${this.greeterTarget.textContent}!` : "Welcome!"
          if (this.yellValue) greeting = greeting.toUpperCase()

          console.log(greeting)
          this.dispatch("greeting", { detail: { greeting } })
        }
      })
    </script>
  </head>

  <body>
    <%= render "showcase/root" %>
  </body>
</html>
