<section class="w-full overflow-x-auto">
  <h2 class="text-xl font-semibold mb-2">Options</h2>

  <table class="table bg-white">
    <thead>
      <tr>
        <% options.headers.each do |header| %>
          <th><%= header.to_s.humanize %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% options.each do |option| %>
        <tr>
          <% option.each do |key, value| %>
            <% if key == :required %>
              <td><%= tag.input type: :checkbox, checked: value, disabled: true if value %></td>
            <% else %>
              <td><%= tag.pre value %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
