<section class="sc-w-full sc-overflow-x-auto">
  <h2 class="sc-text-xl sc-font-semibold sc-m-0 sc-mb-2">Options</h2>

  <table class="sc-table sc-border-collapse sc-border sc-border-solid sc-border-gray-200">
    <thead>
      <tr class="sc-bg-slate-50 dark:sc-bg-neutral-800">
        <% options.headers.each do |header| %>
          <th class="sc-px-4 sc-py-2"><%= header.to_s.humanize %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% options.each do |option| %>
        <tr class="sc-border-0 sc-border-t sc-border-solid sc-border-gray-200">
          <% option.each do |key, value| %>
            <% if key == :required %>
              <td class="sc-p-4">
                <%= tag.input type: :checkbox, checked: value, disabled: true if value %>
              </td>
            <% else %>
              <td class="sc-p-4"><%= tag.pre value, class: "sc-whitespace-normal" %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
