<main class="sc-flex sc-flex-wrap dark:sc-bg-neutral-900 dark:sc-text-white" aria-labelledby="showcase_main_title">
  <section class="sc-grid sc-grid-cols-12 sc-w-full">
    <nav class="sc-col-span-3 xl:sc-col-span-2 sc-h-full sc-border-0 sc-border-r sc-border-solid sc-border-gray-200">
      <header class="sc-flex sc-items-baseline sc-pt-5 sc-pb-2 sc-pl-4">
        <h1 id="showcase_main_title" class="sc-font-black sc-text-2xl sc-m-0">
          <%= link_to "Showcase", root_url, class: "sc-link" %>
        </h1>

        <section class="sc-link sc-text-sm sc-px-2 sc-cursor-pointer">
          <a onclick="Showcase.colorScheme = 'light'" class="sc-hidden dark:sc-block">light mode</a>
          <a onclick="Showcase.colorScheme = 'dark'" class="sc-block dark:sc-hidden">dark mode</a>
        </section>
      </header>

      <%= render Showcase::Path.tree %>
    </nav>

    <section class="sc-col-span-9 xl:sc-col-span-10 sc-w-full sc-min-h-screen sc-p-12 sc-pt-7">
      <%= yield %>
    </section>
  </section>
</main>
