<main class="sc-flex sc-flex-wrap dark:sc-bg-neutral-900 dark:sc-text-white" aria-labelledby="showcase_main_title">
  <section class="sc-grid sc-grid-cols-12 sc-w-full">
    <nav class="sc-col-span-3 xl:sc-col-span-2 sc-py-5 sc-h-full sc-border-r">
      <h1 id="showcase_main_title" class="sc-font-black sc-text-2xl sc-py-2 sc-pl-4 sc-cursor-pointer">
        <%= link_to "Showcase", root_url, class: "sc-link" %>
      </h1>

      <%= render Showcase::Path.tree %>
    </nav>

    <section class="sc-col-span-9 xl:sc-col-span-10 sc-w-full sc-min-h-screen sc-p-12 sc-pt-7">
      <%= yield %>
    </section>
  </section>
</main>
