<section class="w-full overflow-x-auto">
  <h2 class="text-xl font-semibold mb-2">Options</h2>

  <table class="table border-collapse border border-gray-200">
    <thead>
      <tr class="bg-slate-50">
        <% options.headers.each do |header| %>
          <th class="px-4 py-2"><%= header.to_s.humanize %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% options.each do |option| %>
        <tr class="border-t border-gray-200">
          <% option.each do |key, value| %>
            <% if key == :required %>
              <td class="p-4"><%= tag.input type: :checkbox, checked: value, disabled: true if value %></td>
            <% else %>
              <td class="p-4"><%= tag.pre value %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
