<div class="sc-space-y-8">
  <section>
    <% if page.title %>
      <div class="sc-flex sc-items-center sc-space-x-2 sc-mb-2">
        <h2 class="sc-font-semibold sc-text-3xl"><%= page.title %></h2>

        <%# TODO: Insert default badge support here. %>
      </div>
    <% end %>

    <% if page.description %>
      <p class="sc-font-normal sc-text-base"><%= page.description %></p>
    <% end %>
  </section>

  <% if page.samples.any? %>
    <section>
      <h2 class="sc-font-semibold sc-text-xl sc-mb-2">Samples</h2>
      <%= render partial: "showcase/pages/sample", collection: page.samples %>
    </section>
  <% end %>

  <% if options = page.options.presence %>
    <%= render "showcase/pages/options", options: options %>
  <% end %>
</div>
