<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "showcase", "showcase.highlights" %>
    <%= javascript_include_tag "showcase" %>
  </head>

  <body>
    <%= render "showcase/engine/root" %>
  </body>
</html>
