<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%#= stylesheet_link_tag "application" %>
    <% Showcase::Assets.call self %>
  </head>

  <body style="display: grid; grid-template-columns: 25% 75%; column-gap: 25px;">
    <nav class="sc-nav">
      <%= render Showcase::Menu.items %>
    </nav>

    <section class="sc-main">
      <%= yield %>
    </section>
  </body>
</html>
