<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script>
      // We're setting this directly here to help prevent Flash of Unstyled Content (FOUC).
      class Showcase {
        static start() {
          const preference = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"
          this.colorScheme = localStorage.colorScheme || preference
        }

        static set colorScheme(value) {
          localStorage.colorScheme = value
          document.documentElement.classList.toggle("sc-dark", value === "dark")
        }
      }

      Showcase.start()
    </script>

    <%= render "showcase/engine/head" %>
    <%= render "showcase/engine/stylesheets" %>
    <%= render "showcase/engine/javascripts" %>
  </head>

  <body>
    <%= render "showcase/engine/root" %>
  </body>
</html>
