<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag "application" %>
  </head>

  <body style="display: grid; grid-template-columns: 25% 75%; column-gap: 25px;">
    <nav>
      <%= render partial: "showcase/menu/item", collection: Showcase::Menu.items %>
    </nav>

    <section>
      <%= yield %>
    </section>
  </body>
</html>
