<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= render "showcase/engine/head" %>
    <%= render "showcase/engine/stylesheets" %>
    <%= render "showcase/engine/javascripts" %>
  </head>

  <body>
    <%= render "showcase/engine/root" %>
  </body>
</html>
